body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: red;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  color: red;
}

header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 2;
  padding: 10px 5px;
  background-color: red;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: red;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
  background-color: red;
}

nav,
article {
  height: 100%;
  padding: 10px;
  background-color: red;
}

nav {
  background-color: red;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: red;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
  background-color: red;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
