body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  background: linear-gradient(135deg, #4a90e2, #1d3557); 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #4a90e2, #1d3557); 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283593;
  color: #ffffff; 
  grid-column: 1 / span 2;
  padding: 15px 20px;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px; 
}


form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e3f2fd; 
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

form input,
form textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #90caf9; 
  border-radius: 5px;
  font-size: 1em;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #1e88e5; 
}

nav {
  background-color: #1966ff; 
  padding: 20px;
  border-right: 1px solid #bbdefb;
  border-radius: 8px 0 0 8px;
  color: white;
}

nav p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #bbdefb;
}

article {
  background-color: #ffffff;
  background-image: url('https://pngimg.com/d/star_PNG1592.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 200px; 
  padding: 20px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin: 100px;
}

article .date {
  font-style: italic;
  color: #6c757d; 
}

article .body {
  font-family: 'Georgia', serif;
  white-space: pre-wrap;
  line-height: 1.6;
  color: #495057; 
}

.error {
  background-color: #d32f2f; 
  color: #ffffff; 
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  font-family: 'Times New Roman', Times, serif;
  background-color: red; 
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c0; 
}
